html,
body {
  height: 100%;
  overflow: hidden;
}

body {
  background: #000;
  position: relative;
}

* {
  margin: 0;
  padding: 0;
}

#game {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 0;
  right: 0;
  text-align: center;
}
